/************** 404 ERROR **************/

@font-face {
	font-family: "Robins Hand";
	src:	url('fonts/RobinsHand-Regular.woff') format('woff'),
			url('fonts/RobinsHand-Regular.woff2') format('woff2'),
			url('fonts/RobinsHand-Regular.ttf') format('truetype');
}

.sticky {
  display: block;
  background-color: #ffff99;
  color: #000000;
  text-decoration: none;
  font-family: "Robins Hand", Comic Sans MS, sans-serif;
  height: 10em;
  width: 10em;
  padding: 1em;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  -moz-box-shadow: 5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  transform: rotate(-6deg);
}

/************** BACKGROUND **************/

body{
	background-color: #562f17;
	background-image: repeating-linear-gradient(45deg, transparent 5px, #d7ba8e80 5px, #d7ba8e80 10px,                  
		hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, #d83c3380 35px, #d83c3380 40px,
		#d7ba8e80 40px, #d7ba8e80 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,                
		#d83c3380 60px, #d83c3380 70px, #bf392b80 70px, #bf392b80 80px,
		hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, #d83c3380 90px, #d83c3380 110px,
		hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 120px, #d7ba8e80 120px, #d7ba8e80 140px       
	  ),
	repeating-linear-gradient(135deg, transparent 5px, #d7ba8e80 5px, #d7ba8e80 10px, 
		hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, #d83c3380 35px, #d83c3380 40px,
		#d7ba8e80 40px, #d7ba8e80 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,                
		#d83c3380 60px, #d83c3380 70px, #bf392b80 70px, #bf392b80 80px,
		hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, #d83c3380 90px, #d83c3380 110px,
		hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 140px, #d7ba8e80 140px, #d7ba8e80 160px
	);
	height: 100%; /*This stops working as soon as the page is smaller than the browser view...*/
	
	color: white;
}

html {
  min-height: 100%; /*... Which this fixes.*/
}